    body {
        margin: 0;
        padding: 0;
        background-color: white;
    }
    
    .icon {
        text-align: center;
        margin-top: 0px;
        position: relative;
        background-color: brown;
    }
    
    .icon h2 {
        display: inline-block;
        position: relative;
        z-index: 2;
    }
    
    .icon img {
        position: absolute;
        margin-top: 10px;
        height: auto;
        opacity: 0.8;
    }
    
    #logofane {
        width: 50px;
        height: 35px;
        /*transition: width 2s, height 4s;*/
        z-index: 1002;
        margin-top: 5px;
        animation: rotate 5s linear infinite;
    }
    
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    /* #logofane:hover {
        width: 100px;
        height: 100px;
    }
        */
    
    .menu {
        position: relative;
        z-index: 1001;
    }
    
    .menu ul {
        list-style-type: none;
        background-color: brown;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    
    .menu a {
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;
    }
    
    .menu a:hover {
        background-color: crimson;
    }
    
    .menu li {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .menu .dropdown {
        background-color: brown;
        color: crimson;
        border: none;
        cursor: pointer;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: brown;
        min-width: 100px;
        box-shadow: 2px 2px 5px crimson;
    }
    
    .menu li:hover .dropdown-content {
        display: block;
    }
    
    .logo {
        background-color: brown;
        color: white;
        padding: 10px;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0px;
    }
    
    .content-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: white;
    }
    
    .hero-image {
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    
    .hero-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
    
    .imag {
        max-width: 20%;
        height: auto;
        margin-right: 10%;
    }
    
    .text {
        max-width: 60%;
        text-align: center;
    }
    
    .contact-bar {
        background-color: brown;
        display: flex;
        color: white;
        text-align: center;
        position: relative;
        padding: 20px;
        bottom: 0;
    }
    
    .social-media {
        margin-top: 10px;
        margin-left: 15%;
    }
    
    .social-media a {
        color: white;
        font-size: 24px;
        margin: 50px;
    }
    
    .social-media a:hover {
        opacity: 0.7;
        transform: scale(1.05);
    }
    
    @media (max-width: 768px) {
        .menu li {
            float: none;
            margin: 5px 0;
        }
        .content {
            flex-direction: column;
            align-items: center;
        }
        .imag {
            max-width: 50%;
            margin: 0 0 20px 0;
        }
        .text {
            max-width: 80%;
        }
        .social-media {
            margin-left: 5%;
        }
        .social-media a {
            font-size: 20px;
            margin: 20px;
        }
    }
    
    @media (max-width: 480px) {
        #logofane {
            width: 40px;
            height: 30px;
        }
        #logofane:hover {
            width: 80px;
            height: 80px;
        }
    }