* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(fundal.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
    background-color: #990000;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: rgb(255, 255, 255);
    /* Culoarea textului */
    text-align: center;
    padding: 14px 20px;
    /* Dimensiunea butoanelor */
    text-decoration: none;
    /* Îndepărtează sublinierea */
}

.navbar a:hover {
    background-color: #dddddd;
    color: rgb(0, 0, 0);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: aqua;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
    /* Arată dropdown-ul atunci când treci cu mouse-ul */
}

.dropdown-content {
    position: static;
    width: 100%;
}

.dropdown-content a {
    text-align: left;
    /* Alinierea linkurilor pe verticală */
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #CC3366;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: #CC3366;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s;
}

ul li a:hover {
    color: #CC3366;
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}


/* Resetarea marginilor și a padding-ului pentru un aspect uniform */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Stilizarea barei de navigație */

.navbar {
    background-color: #333;
    /* Culoarea de fundal a barei de navigație */
    overflow: hidden;
    /* Asigură-te că elementele se aliniază corect */
}

.menu ul {
    list-style-type: none;
    /* Îndepărtează punctele de pe listă */
    padding: 0;
}

.menu li {
    float: left;
    /* Plasează elementele pe o linie orizontală */
    position: relative;
}

.menu a {
    display: block;
    color: white;
    /* Culoarea textului */
    text-align: center;
    padding: 14px 20px;
    /* Dimensiunea butoanelor */
    text-decoration: none;
    /* Îndepărtează sublinierea */
}


/* Schimbarea culorii atunci când treci cu mouse-ul peste un link */

.menu a:hover {
    background-color: #ddd;
    color: black;
}


/* Stilizarea meniului dropdown */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    /* Ascunde conținutul dropdown în mod implicit */
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Schimbarea culorii atunci când treci cu mouse-ul peste opțiunile din dropdown */

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}


/* Arată meniul dropdown când treci cu mouse-ul peste acesta */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Stilizare pentru secțiunea de produse */

#gama {
    margin-top: 50px;
    padding: 20px;
    background-color: #f4f4f4;
}

#gama h2 {
    color: #333;
}


/* Stilizare pentru căutare */

.search {
    margin-top: 20px;
    padding: 10px;
}

.srch {
    padding: 10px;
    width: 200px;
}

.btn {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}


/* Stilizare pentru butoane */

.btn:hover {
    background-color: #ddd;
    color: black;
}


/* Stilizare pentru content */

.content {
    padding: 20px;
    background-color: #f4f4f4;
}

.content h1,
.content h2,
.content h3 {
    color: #333;
}